body {
  font-family: Arial;
}
.daterangepicker {
  position: absolute;
  background: #f8f8f8;
  border: 1px solid #d0d0d0;
  top: 100px;
  left: 20px;
}

/* Calendars */

.daterangepicker .calendar {
  width: 50%;
  float: left;
  box-sizing: border-box;
}
.daterangepicker .row {
  overflow: hidden;
}
.daterangepicker .calendar.left {
  padding: 15px 7px 15px 15px;
}

.daterangepicker .calendar.right {
  padding: 15px 15px 15px 7px;
}

.daterangepicker .calendar-table {
  padding: 10px;
  background: #fff;
  box-shadow: 1px 2px 1px #f0f0f0, -1px 0px 1px #f0f0f0;
}
.daterangepicker .calendar thead {
  color: #9d9899;
}

.daterangepicker .calendar th, .daterangepicker .calendar td {
  font-weight: normal;
  white-space: nowrap;
  text-align: center;
  min-width: 30px;
}

.daterangepicker td, .daterangepicker th {
  text-align: center;
  width: 20px;
  height: 20px;
  line-height: 28px;
  white-space: nowrap;
  cursor: pointer;
}

.daterangepicker td.off,
.daterangepicker td.off.in-range,
.daterangepicker td.off.start-date,
.daterangepicker td.off.end-date {
  color: #a8a8a8;
}

.daterangepicker td.disabled, .daterangepicker option.disabled {
  color: #a8a8a8;
}

.daterangepicker td.available:hover, .daterangepicker th.available:hover {
  background: #eee;
}

.daterangepicker td.in-range {
  background: #e2f2ff;
}

.daterangepicker td.active, .daterangepicker td.active:hover {
  background-color: #108dff;
  color: #fff;
}

.daterangepicker td.week, .daterangepicker th.week {
  font-size: 80%;
  color: #ccc;
}

.daterangepicker .range-inputs {
  background: #fff;
  padding: 20px 0;
  text-align: center;
}
/*-----------------------*/
/* Configure showing these inputs
/*------------------------*/

.daterangepicker-input {
  display: none;
}
/*
.daterangepicker select.monthselect, .daterangepicker select.yearselect {
  font-size: 12px;
  padding: 1px;
  height: auto;
  margin: 0;
  cursor: default;
}

.daterangepicker select.monthselect {
  margin-right: 2%;
  width: 56%;
}

.daterangepicker select.yearselect {
  width: 40%;
}

.daterangepicker select.hourselect, .daterangepicker select.minuteselect, .daterangepicker select.secondselect, .daterangepicker select.ampmselect {
  width: 50px;
  margin-bottom: 0;
}

.daterangepicker th.month {
  width: auto;
}*/

/* Text Input Above Each Calendar */

/*.daterangepicker .input-mini {
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #555;
  display: block;
  height: 30px;
  line-height: 30px;
  vertical-align: middle;
  margin: 0 0 5px 0;
  padding: 0 6px 0 28px;
  width: 100%;
}

.daterangepicker .daterangepicker_input i {
  position: absolute;
  left: 8px;
  top: 8px;
}

.daterangepicker .left .daterangepicker_input {
  padding-right: 12px;
}

.daterangepicker .daterangepicker_input {
  position: relative;
}*/

/* Time Picker */

/*.daterangepicker .calendar-time {
  text-align: center;
  margin: 5px auto;
  line-height: 30px;
  position: relative;
  padding-left: 28px;
}

.daterangepicker .calendar-time select.disabled {
  color: #ccc;
  cursor: not-allowed;
}*/

/* Predefined Ranges */
/*
.daterangepicker .ranges ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.daterangepicker .ranges li {
  font-size: 13px;
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  color: #08c;
  padding: 3px 12px;
  margin-bottom: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.daterangepicker .ranges li.active, .daterangepicker .ranges li:hover {
  background: #08c;
  border: 1px solid #08c;
  color: #fff;
}*/
